body {
  background-color: var(--main-bg-color);
  font-family: "Inter", sans-serif;
}

.container {
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Imagenes */

.logo {
  position: absolute;
  top: 15px;
  left: -30px;
  z-index: 998;
}
.hangman-container {
  max-width: 100%;
  text-align: center;
}

/* Estilos palabra secreta */

.secret-word {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
}

.secret-letter {
  margin: 15px;
  border-bottom: solid 2px var(--primary-color);
  color: var(--primary-color);
  min-width: 1.7rem;
}

.occult {
  visibility: hidden;
}

/* Letras probadas */

.already-tried {
  min-height: 24px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Disposición del Teclado */
.keyboard {
  display: inline;
}

.keyboard div:last-child {
  text-align: center;
}

/* Estilos de cada tecla */
.keyboard-button {
  border: none;
  background-color: var(--primary-color);
  font-size: 1.4rem;
  height: 2rem;
  width: 2rem;
  color: var(--main-bg-color);
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.4s;
  margin-top: 5px;
}

.keyboard-button:hover {
  background-color: var(--secondary-color);
}

.keyboard-button:active,
.keyboard-button:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.disabled {
  cursor: not-allowed;
  background-color: var(--secondary-color);
}

.disabled:hover,
.disabled:focus {
  box-shadow: none;
}

/* Botones para gestión de juego */

.ingame-button {
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
  min-width: 187px;
}

.panel-button {
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: solid 2px #323232;
  color: var(--main-bg-color);
  border-radius: 24px;
  height: 67px;
  font-size: 16px;
}

.panel-button:hover {
  background-color: #323232;
}

.ingame-button:active,
.ingame-button:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.filled {
  background-color: var(--primary-color);
  border: 0;
  color: var(--main-bg-color);
  border-radius: 24px;
  height: 67px;
  font-size: 16px;
}

.filled:hover {
  background-color: var(--secondary-color);
}

.blank {
  background-color: var(--main-bg-color);
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  border-radius: 24px;
  height: 66px;
  font-size: 16px;
}

.blank:hover {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
}

/* Menu Inicial */

.menu-start {
  position: fixed;
  z-index: 997;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--main-bg-color);
}

.panel-start {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
}

.panel-start > span {
  color: var(--primary-color);
}

.panel-start > input {
  border: 0;
  background-color: var(--main-bg-color);
  border-bottom: solid 2px var(--primary-color);
  font-size: 1.5rem;
}

.panel-start > input:focus {
  outline: none;
}

.alert {
  font-size: 0.9rem;
  color: #323232 !important;
  position: relative;
  margin-right: 100px;
}

.red {
  color: red !important;
}

/* Panel de juego terminado */

.panel {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--panel-bg-color);
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
}

/* Variable colores */

:root {
  --main-bg-color: #f3f5fc;
  --primary-color: #0a3871;
  --secondary-color: #356ea9;
  --panel-bg-color: rgba(34, 34, 34, 0.85);
}

/* Responsive */

@media (max-width: 377px) {
  .keyboard-button {
    font-size: 1.2rem;
    height: 1.8rem;
    width: 1.8rem;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .logo {
    left: 10px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .ingame-button {
    width: 332px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
